<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="fm_home" method="post">
    <main>
        <div class="container-fluid p-2">
            <div class="titleBar" id="titleBar">
                <div class="row">
                    <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i> 급여내역</div>
                    <div class="col titleBar_path">급여관리 &gt; 급여관리 &gt; 개인별기준급여관리</div>
                </div>
            </div>
            <div class="searchBar" id="searchBar">
                <div class="row">
                    <div class="col-12 fixed-right p-2 px-4">
                        <table width="100%">
                            <tbody>
                            <tr>
                                <td>
                                    <button name="query" id="query" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">조회</button>&nbsp;<button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal" data-target="#inputpopup" onclick="lf_confirm(this.name,'','','')">등록</button>&nbsp;<button name="popup_close" id="popup_close" type="button" class="btn btn-gfk btn-sm" onclick="window.close()">닫기</button>&nbsp;
                                </td>
                                <td th:text="${'사원명 : ' +  emp.empNm}"></td>
                                <td th:text="${'직위/직급 : ' + emp.post}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-nowrap" id="tableWrapper">
                <table class="table table-striped tablesorter-blue tablesorter" id="datatable_1" style="width: 501px;">
                    <thead>
                    <tr class="tableList_h_tr tablesorter-headerRow">
                        <th th:each="title,titleStat : ${titles}" th:data-column="${titleStat.index}" class="tablesorter-header tablesorter-headerAsc">
                            <div class="tablesorter-header-inner" th:text="${title}"></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="dto,dtoStat : ${dtos}" class="list_tr_1">
                        <td class="list_td_1 text-center" th:text="${dtoStat.count}"></td>
                        <td class="list_td_1 text-center">
                            <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal" data-target="#inputpopup" onclick="lf_confirm(this.name,'1972','','')">수정</button>&nbsp;
                            <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm" onclick="lf_confirm(this.name,'1972','','')">삭제</button>&nbsp;
                        </td>
                        <td class="list_td_1 text-center" th:text="${dto.itemDiv}">지급</td>
                        <td class="list_td_1 text-center" th:text="${dto.taxDiv}">Y</td>
                        <td class="list_td_1 text-center" th:text="${dto.itemCd}">기본급</td>
                        <td class="list_td_1 text-end" th:text="${dto.payAmt}">0</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="tableList_f_tr">
                        <th class="tableList_f_td tablesorter-headerAsc" data-column="0"></th>
                        <th class="tableList_f_td" data-column="1"></th>
                        <th class="tableList_f_td" data-column="2"></th>
                        <th class="tableList_f_td" data-column="3"></th>
                        <th class="tableList_f_td" data-column="4"></th>
                        <th class="tableList_f_td" data-column="5">0</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>
    <input type="hidden" name="ACD" id="ACD" value="03" size="0" class="form-control "> 		<input type="hidden" name="BCD" id="BCD" value="01" size="0" class="form-control "> 		<input type="hidden" name="CCD" id="CCD" value="02" size="0" class="form-control "> 		<input type="hidden" name="tpid" id="tpid" value="030102" size="0" class="form-control "> 		<input type="hidden" name="start" id="start" value="Y" size="0" class="form-control "> 		<input type="hidden" name="sempno" id="sempno" value="0001" size="0" class="form-control ">
</form>
</body>
</html>