<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>운행관리</title>
  <link rel="icon" th:href="@{|${global.imgDir}/favicon.ico|}" type="image/x-icon" />
  <link rel="shortcut icon" th:href="@{|${global.imgDir}/favicon.ico|}" type="image/x-icon" />
  <link th:href="@{|${global.cssDir}/bootstrap.min.css|}" rel="stylesheet" >
  <link th:href="@{|${global.cssDir}/bootstrap-datepicker3.min.css|}" rel="stylesheet" >
  <link th:href="@{|${global.cssDir}/bootstrap-icons.css|}" rel="stylesheet" >
  <link th:href="@{|${global.cssDir}/bootstrap.css|}" rel="stylesheet" >
  <link th:href="@{|${global.cssDir}/styles.css|}" rel="stylesheet" />
  <link th:href="@{|${global.cssDir}/style_old.css|}" rel="stylesheet" />
  <link th:href="@{|${global.cssDir}/bootstrap4-toggle.min.css|}" rel="stylesheet" >
  <link th:href="@{|${global.cssDir}/theme.blue.css|}" rel="stylesheet" >

  <script th:src="@{|${global.jsDir}/all.min.js|}" crossorigin="anonymous"></script>
  <script th:src="@{|${global.jsDir}/jquery-3.4.1.min.js|}"></script>
  <script th:src="@{|${global.jsDir}/jquery-ui.min.js|}"></script>

  <script th:src="@{|${global.jsDir}/colResizable-1.6.js|}"></script>
  <script th:src="@{|${global.jsDir}/jquery.tablesorter.min.js|}"></script>
  <script th:src="@{|${global.jsDir}/bootstrap4-toggle.min.js|}"></script>
  <script th:src="@{|${global.jsDir}/popper.min.js|}"></script>

  <script th:src="@{|${global.jsDir}/bootstrap.min.js|}"></script>
  <script th:src="@{|${global.jsDir}/bootstrap-datepicker.min.js|}" type='text/javascript' ></script>
  <script th:src="@{|${global.jsDir}/bootstrap-datepicker.ko.min.js|}" charset="UTF-8"></script>

  <script th:src="@{|${global.jsDir}/showModalDialog.js|}" type="text/javascript"></script>
  <script th:src="@{|${global.jsDir}/showModalDialogCallee.js|}" type="text/javascript"></script>

  <script th:src="@{|${global.jsDir}/comfunction.js|}"></script>
  <script th:src="@{|${global.jsDir}/comfunction_src.js|}"></script>
  <script th:src="@{|${global.jsDir}/clientValidate.js|}"></script>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</head>
<body class="sb-nav-fixed"><iframe id="IFrame_real" frameborder="1" scrolling="1" width="1500" height="200" src="" marginheight="60px" marginwidth="250px" style="background-color: #FFFFFF;color:#000000;display: none;"></iframe>
<script th:inline="javascript">
  function lf_confirm(as_action, as_val1, as_val2, as_val3, as_val4) {// FORM을 서버미트 하기전에 수행할 일
    switch (as_action) {
      case "query" :
        $('#size').val($('#num_per_page').val());
        $('#page').val(1);
        fm_home.action = "/010301/fk/"+as_val1;
        fm_home.method = "/get";
        fm_home.submit();
        break;
      case "insert" : //저장
      case "update" : //저장
        if (!gf_checkSubmit("회사코드",fm_input.tb101,1,0,0,0,0,0)) { break; }
        if (!gf_checkSubmit("법인자동차번호",fm_input.tb106,1,0,0,0,0,0)) { break; }
        if (!gf_checkSubmit("운행시작일자",fm_input.dvStDt,1,0,0,0,0,0)) { break; }
        if (!gf_checkSubmit("운행종료일자",fm_input.dvEdDt,1,0,0,0,0,0)) { break; }
        if (!gf_checkSubmit("운행자",fm_input.empNo,1,0,0,0,0,0)) { break; }
        if (!gf_checkSubmit("금액",fm_input.price,1,0,0,0,0,0)) { break; }
        if (!gf_checkSubmit("출장지",fm_input.place,1,0,0,0,0,0)) { break; }
        if (!gf_checkSubmit("출장목적",fm_input.purpose,1,0,0,0,0,0)) { break; }
        if(fm_input.price.value.length > 10){
          alert("금액은 10자리 이하로 입력하세요");
          break;
        }
        if(fm_input.penalty.value.length > 10){
          alert("과태료는 10자리 이하로 입력하세요");
          break;
        }
        if(fm_input.place.value.length > 30){
          alert("출장지는 30자리 이하로 입력하세요");
          break;
        }
        if(fm_input.purpose.value.length > 100){
          alert("출장목적은 100자리 이하로 입력하세요");
          break;
        }
        if(fm_input.note.value.length > 255){
          alert("비고는 255자리 이하로 입력하세요");
          break;
        }
        fm_input.action = "/010301/fk/" + as_action;
        fm_input.method = "post";
        fm_input.submit();
        break;
      case "delete" : //저장
        fm_home.action = "/010301/fk/" + as_action + "/" + as_val1;
        fm_home.method = "post";
        fm_home.submit();
        break;
      case "excel" :
        fm_home.action = "/010301/fk/excel/" + as_val1;
        fm_home.method = "get";
        fm_home.submit();
        break;
    }
  }
</script>

<form name="fm_home" method="post">
  <main>
    <div class="container-fluid p-2">
      <div class="titleBar" id="titleBar">
        <div class="row">
          <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i>&nbsp;운행관리</div>
          <div class="col titleBar_path">[[${menuNm.fstNm}]] > [[${menuNm.scdNm}]] > [[${menuNm.thdNm}]]</div>
        </div>
      </div>
      <div class="searchBar" id="searchBar">
        <div class="row">
          <div class="col-12 fixed-right p-2 px-4">
            <table>
              <tbody>
                <tr>
                  <td>
                    <button name="query" id="query" type="button" class="btn btn-gfk btn-sm" th:onclick="lf_confirm('query',[[${fk}]],[[${menuId.fstId}]], [[${menuId.scdId}]], [[${menuId.thdId}]])">조회</button>&nbsp;
                    <button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal" data-target="#inputpopup_1"
                            th:onclick="gf_modal_1('/010301/fk/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'insert', '',[[${fk}]]);">
                      등록
                    </button>
                    <button name="excel" id="excel" type="button" class="btn btn-gfk btn-sm" th:onclick="lf_confirm(this.name,[[${fk}]],'','')">엑셀</button>&nbsp;<button name="popup_close" id="popup_close" type="button" class="btn btn-gfk btn-sm" onclick="window.close()">닫기</button>&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="table-responsive text-nowrap" id="tableWrapper">
        <table class="table table-striped tablesorter-blue tablesorter" id="datatable_1" style="width: 1101px;">
          <thead>
            <tr class="tableList_h_tr">
              <th th:each="title : ${titles}" th:text="${title}">타이틀</th>
            </tr>
          </thead>
          <tbody>
            <tr th:class="list_tr_1" th:each="dto, dtoStat : ${dtos}">
              <td class="list_td_1 text-center" th:text="${dtoStat.count}"></td>
              <td class="list_td_1 text-center">
                <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal" data-target="#inputpopup_1"
                        th:onclick="gf_modal_1('/010301/fk/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'update', [[${dto.seq}]],'');">
                  수정
                </button>&nbsp;
                <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm"
                        th:onclick="lf_confirm(this.name,[[${dto.seq}]],'','')">삭제
                </button>&nbsp;
              </td>
              <td class="list_td_1 text-center" th:text="${dto.dvStDt}"></td>
              <td class="list_td_1 text-center" th:text="${dto.dvEdDt}"></td>
              <td class="list_td_1 text-center" th:text="${dto.empNo}"></td>
              <td class="list_td_1 text-end" th:text="${#numbers.formatInteger(dto.price,0, 'COMMA')}"></td>
              <td class="list_td_1 text-end" th:text="${#numbers.formatInteger(dto.penalty,0, 'COMMA')}"></td>
              <td class="list_td_1 text-center" th:text="${dto.place}"></td>
              <td class="list_td_1 text-center" th:text="${dto.purpose}"></td>
              <td class="list_td_1 text-center" th:text="${dto.note}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <input type="hidden" id="fstId" name="fstId" th:value="${menuId.fstId}" size="0" class="form-control ">
    <input type="hidden" id="scdId" name="scdId" th:value="${menuId.scdId}" size="0" class="form-control ">
    <input type="hidden" id="thdId" name="thdId" th:value="${menuId.thdId}" size="0" class="form-control ">
  </main>
</form>
<!-- Modal -->
<div class="modal fade" id="inputpopup_1" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div id="modal_main" class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body" id="modalhtml_1">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<script src="/js/scripts_sub.js"></script>
<script th:inline="javascript">
  $(document).ready(function () {
    $("#datatable_1").width([[${global.mainWidth}]]);
  });
</script>
</body>
</html>