<html th:replace="~{layout/layoutMain:: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<main >
  <form th:action="@{/020101/insert}" name="fm_home" method="post" enctype="multipart/form-data">
    <main >
      <div class="container-fluid p-2">
        <div class="titleBar" id="titleBar">
          <div class="row">
            <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i>&nbsp;[[${menuNm.thdNm}]]&nbsp;([[${menuId.fstId}]][[${menuId.scdId}]][[${menuId.thdId}]])</div>
            <div class="col titleBar_path">[[${menuNm.fstNm}]] > [[${menuNm.scdNm}]] > [[${menuNm.thdNm}]]</div>
          </div>
        </div>
        <div class="searchBar" id="searchBar">
          <div class="row">
            <div class="col-12 fixed-right">
              <table>
                <tr>
                  <td class="p-1">
                    <label for="sempNm" class="search_labal">사원명</label>
                    <input id="sempNm" name="sempNm" type="text" size="15" class="form-control">
                  </td>
                  <td class="p-1">
                    <label for='spost' class="search_labal_lg">직위/직급</label>
                    <SELECT class='form-select' id='spost' name='spost'  size=1 >
                      <OPTION value=''>선택</OPTION>
                      <OPTION value='00001'>대표이사</OPTION>
                      <OPTION value='00002'>전무님</OPTION>
                      <OPTION value='00003'>과장</OPTION>
                      <OPTION value='00004'>팀장</OPTION>
                      <OPTION value='00005'>대리</OPTION>
                      <OPTION value='00006'>주임</OPTION>
                      <OPTION value='00007'>실장</OPTION>
                      <OPTION value='00008'>상무</OPTION>
                      <OPTION value='00009'>차장</OPTION>
                      <OPTION value='00010'>이사</OPTION>
                      <OPTION value='00011'>사원</OPTION>
                      <OPTION value='00012'>본부장</OPTION>
                      <OPTION value='00013'>단장</OPTION>
                    </SELECT>
                  </td>
                  <td class="p-1">
                    <label for='sdeptcd' class="search_labal">부서명</label>
                    <SELECT class='form-select' id='sdeptcd' name='sdeptcd'  size=1 >
                      <OPTION value=''>선택</OPTION>
                      <OPTION value='00001'>대표이사</OPTION>
                      <OPTION value='00002'>전무님</OPTION>
                      <OPTION value='00003'>과장</OPTION>
                      <OPTION value='00004'>팀장</OPTION>
                      <OPTION value='00005'>대리</OPTION>
                      <OPTION value='00006'>주임</OPTION>
                      <OPTION value='00007'>실장</OPTION>
                      <OPTION value='00008'>상무</OPTION>
                      <OPTION value='00009'>차장</OPTION>
                      <OPTION value='00010'>이사</OPTION>
                      <OPTION value='00011'>사원</OPTION>
                      <OPTION value='00012'>본부장</OPTION>
                      <OPTION value='00013'>단장</OPTION>
                    </SELECT>
                  </td>
                  <td class="p-1">
                    <button name="query" id="query" type="button" class="btn btn-gfk btn-sm" onclick="">조회</button>
                    <button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal" data-target="#inputpopup" onclick="gf_modal('020101/input','','','','', '');">등록</button>
                    <button name="excel" id="excel" type="button" class="btn btn-gfk btn-sm" onclick="">엑셀</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="table-responsive text-nowrap" id="tableWrapper">
          <table class="table table-striped tablesorter-blue" id="datatable_1" >
            <thead>
              <tr class="tableList_h_tr">
                <th th:each="title : ${titles}" th:text="${title}">타이틀</th>
              </tr>
            </thead>
            <tbody>
              <tr th:class="list_tr_1" th:each="dto, dtoStat : ${dtos}">
                <td class="list_td_1" th:text="${dtoStat.count}" text-center></td>
                <td class="list_td_1" text-center>
                  <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal" data-target="#inputpopup" onclick="lf_confirm(this.name,'systemman','','')">수정</button>&nbsp;
                  <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm">삭제</button>&nbsp;
                </td>
                <td class="list_td_1" th:text="${dto.empNo}"  text-center>내용</td>
                <td class="list_td_1" th:text="${dto.empNm}"  text-center>내용</td>
                <td class="list_td_1" th:text="${dto.empDt}"  text-center>내용</td>
                <td class="list_td_1" th:text="${dto.post}"   text-center>내용</td>
                <td class="list_td_1" th:text="${dto.phone}"  text-center>내용</td>
                <td class="list_td_1" th:text="${dto.mobile}" text-center>내용</td>
                <td class="list_td_1" th:text="${dto.email}"  text-center>내용</td>
                <td class="list_td_1" th:text="${dto.deptCd}" text-center>내용</td>
                <td class="list_td_1" th:text="${dto.workCd}" text-center>내용</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
<!--    <?=text_cpnt("메뉴1","ACD",$ACD,"0","","H","")?>-->
<!--    <?=text_cpnt("메뉴2","BCD",$BCD,"0","","H","")?>-->
<!--    <?=text_cpnt("메뉴3","CCD",$CCD,"0","","H","")?>-->
<!--    <?=text_cpnt("화면번호","tpid",$gs_tpid,"0","","H","")?>-->
<!--    <?=text_cpnt("시작","start","Y","0","","H","")?>-->
  </form>
</main>
</html>

<script src="/js/scripts_sub.js"></script>
<script th:inline="javascript">
  $(document).ready(function (){
    gf_menu([[${menuId.fstId}]],[[${menuId.scdId}]],'','systemman');
    $("#datatable_1").width([[${global.mainWidth}]]);
    $("#modal_main").addClass("modal-xl");

    // 삭제
    $('button[name="delete"]').click(function (e) {
      e.preventDefault();
      if(confirm("자료를 삭제하시겠습니까?")){
        var url = window.location.href + "";
        $.ajax({
          url: url.split('?')[0] + "/delete?id=" + $(this).data('id'),
          type : 'get',
          success : function (){
            alert("자료가 삭제되었습니다.");
            location.reload();
          }
        })
      }
    });
  });
</script>