<html th:replace="~{layout/layoutMain:: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<main>
  <script th:inline="javascript">
    function lf_confirm(as_action, as_val1, as_val2, as_val3) {// FORM을 서버미트 하기전에 수행할 일
      switch (as_action) {
        case "query" :
          $('#size').val($('#num_per_page').val());
          $('#page').val(1);
          fm_home.action = "/020102";
          fm_home.method = "/get";
          fm_home.submit();
          break;
        case "insert" : //저장
        case "update" : //저장
          if (!gf_checkSubmit("부서코드",fm_input.deptCd,1,0,0,0,0,0)) { break; }
          if (!gf_checkSubmit("부서명",fm_input.deptNm,1,0,0,0,0,0)) { break; }
          if (!gf_checkSubmit("사용여부",fm_input.useYn,1,0,0,0,0,0)) { break; }
          if(fm_input.deptCd.value.length > 5){
            alert("부서코드는 5자리 이하로 입력하세요");
            break;
          }
          if(fm_input.deptNm.value.length > 30){
            alert("부서명은 30자리 이하로 입력하세요");
            break;
          }
          fm_input.action = "/020102/" + as_action;
          fm_input.method = "post";
          fm_input.submit();
          break;
        case "delete" : //저장
          fm_home.action = "/020102/" + as_action + "/" + as_val1;
          fm_home.method = "post";
          fm_home.submit();
          break;
        case "excel" :
          fm_home.action = "/020102/excel";
          fm_home.method = "get";
          fm_home.submit();
          break;
      }
    }
  </script>
  <form name="fm_home" method="post" enctype="multipart/form-data">
    <div class="container-fluid p-2">
      <div class="titleBar" id="titleBar">
        <div class="row">
          <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i>&nbsp;[[${menuNm.thdNm}]]&nbsp;([[${menuId.fstId}]][[${menuId.scdId}]][[${menuId.thdId}]])</div>
          <div class="col titleBar_path">[[${menuNm.fstNm}]] > [[${menuNm.scdNm}]] > [[${menuNm.thdNm}]]</div>
        </div>
      </div>
      <div class="searchBar" id="searchBar">
        <div class="row">
          <div class="col-12 fixed-right p-2 px-4">
            <table>
              <tr>
                <td>
                  <button name="query" id="query" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">조회</button>
                  <button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal"
                          data-target="#inputpopup"
                          th:onclick="gf_modal('020102/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'insert', '','');">
                    등록
                  </button>
                  <button name="excel" id="excel" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">엑셀</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="table-responsive text-nowrap" id="tableWrapper">
        <table class="table table-striped tablesorter-blue" id="datatable_1">
          <thead>
          <tr class="tableList_h_tr">
            <th th:each="title : ${titles}" th:text="${title}">타이틀</th>
          </tr>
          </thead>
          <tbody>
          <tr th:class="list_tr_1" th:each="dto, dtoStat : ${dtos}">
            <td class="list_td_1 text-center" th:text="${dtoStat.count}"></td>
            <td class="list_td_1 text-center">
              <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal"
                      data-target="#inputpopup"
                      th:onclick="gf_modal('020102/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'update', [[${dto.seq}]],'');">
                수정
              </button>&nbsp;
              <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm"
                      th:onclick="lf_confirm(this.name,[[${dto.seq}]],'','')">삭제
              </button>&nbsp;
            </td>
            <td class="list_td_1 text-center" th:text="${dto.deptCd}"></td>
            <td class="list_td_1 text-center" th:text="${dto.deptNm}"></td>
            <td class="list_td_1 text-center" th:text="${dto.useYn} ? 'Y' : 'N'"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div th:replace="paging.html :: paging"></div>
    </div>
  </form>
</main>
</html>

<script src="/js/scripts_sub.js"></script>
<script th:inline="javascript">
  $(document).ready(function () {
    $("#datatable_1").width([[${global.mainWidth}]]);
  });
</script>