<html th:replace="~{layout/layoutMain:: layout(~{::form})}"
      xmlns:th="http://www.thymeleaf.org">
<form name="fm_home" method="post" >
    <main >
        <div class="container-fluid p-2">
            <div class="titleBar" id="titleBar">
                <div class="row">
                    <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i><span th:text="${title}"></span></div><!--사용자관리 (990101) -->
                    <div class="col titleBar_path" th:text="${path}"></div><!--시스템관리 > 사용자관리 > 사용자관리-->
                </div>
            </div>
            <div class="searchBar" id="searchBar">
                <div class="row">
                    <div class="col-12 fixed-right p-2 px-4">
                        <table>
                            <tr>
                                <td><!--조회 등록 엑셀-->
                                    <button name="query" id="query" type="button" class="btn btn-gfk btn-sm">조회</button>&nbsp;
                                    <button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal" data-target="#inputpopup" onclick="lf_confirm(this.name,'','','')">등록</button>&nbsp;
                                    <button name="excel" id="excel" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">엑셀</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-nowrap" id="tableWrapper">
                <table class="table table-striped tablesorter-blue" id="datatable_1" >
                    <thead>
                    <tr class="tableList_h_tr"><!-- th 렌더링 -->
                        <th>순번</th>
                        <th>관리</th>
                        <th>아이디</th>
                        <th>비밀번호</th>
                        <th>사용자이름</th>
                        <th>전화번호</th>
                        <th>모바일</th>
                        <th>이메일</th>
                        <th>사용자그룹</th>
                        <th>사용여부</th>
                        <th>사원여부</th>
                        <th>사원명</th>
                        <th>등록일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="list_tr_1" th:each="user, userStat : ${users}"><!-- td 렌더링 -->
                        <td th:text="${pageMaker.pageable.pageSize * pageMaker.pageable.pageNumber  + userStat.count}"></td>
                        <td>
                            <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal" data-target="#inputpopup" onclick="lf_confirm(this.name,'systemman','','')">수정</button>&nbsp;
                            <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm" th:data-id="${user.userId}">삭제</button>&nbsp;
                        </td>
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.passwd}"></td>
                        <td th:text="${user.userNm}"></td>
                        <td th:text="${user.phone}"></td>
                        <td th:text="${user.mobile}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.userGr}"></td>
                        <td th:text="${user.useYn}"></td>
                        <td th:text="${user.empYn}"></td>
                        <td th:text="${user.empNo}"></td>
                        <td th:text="${user.regDt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 페이징 부분 -->
        <div th:replace="paging.html :: paging"></div>
    </main>
    <script th:src="@{|/js/scripts_sub.js|}"></script>
    <script>
        $(document).ready(function () {
            gf_menu('99','','','systemman');

            // 삭제
            $('button[name="delete"]').click(function (e) {
                e.preventDefault();
                if(confirm("자료를 삭제하시겠습니까?")){
                    var url = window.location.href + "";
                    $.ajax({
                        url: url.split('?')[0] + "/delete?id=" + $(this).data('id'),
                        type : 'get',
                        success : function (){
                            alert("자료가 삭제되었습니다.");
                            location.reload();
                        }
                    })
                }
            });
        });
    </script>

</form>
