<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{|${global.jsDir}/printPreview_a.js|}"></script>
<body>
<form name="fm_input" enctype="multipart/form-data" method="post" th:object="${dto}">
    <main>
        <div class="container-fluid p-2">
            <div class="input_div">
                <table class="input_table">
                    <tbody><tr>
                        <td>
                            <label for="vfstid" class="input_labal">대그룹ID</label>
                            <input type="text" th:field="*{fstId}" id="vfstid" value="" size="2" class="form-control ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="vscdid" class="input_labal">중그룹ID</label>
                            <input type="text" th:field="*{scdId}" id="vscdid" value="" size="2" class="form-control ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="vthdid" class="input_labal">소그룹ID</label>
                            <input type="text" th:field="*{thdId}" id="vthdid" value="" size="2" class="form-control ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="valien" class="input_labal">정렬순번</label>
                            <input type="text" name="alien" id="valien" th:value="${dto.alien != null ? #numbers.formatInteger(dto.alien,0,'COMMA'):0}" size="11" class="form-control input_number ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="vmenunm" class="input_labal">메뉴명</label>
                            <input type="text" th:field="*{menuNm}" id="vmenunm" value="" size="20" class="form-control ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="vmenuurl" class="input_labal">메뉴url</label>
                            <input type="text" th:field="*{menuUrl}" id="vmenuurl" value="" size="40" class="form-control ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for=useYn class="input_labal">사용여부</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="useYn" th:field="*{useYn}" th:attr="checked=${dto.useYn == 'Y'?'true' : 'false'}" type="checkbox" value="Y">
                                <label class="form-check-label" for="useYn"></label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="input_div button_table">
                <table class="input_table">
                    <tbody>
                    <tr>
                        <td class="float-end">
                            <button name="save" id="save" type="button" class="btn btn-gfk btn-sm">저장</button>&nbsp;
                            <button name="close" id="close" type="button" class="btn btn-gfk btn-sm" data-dismiss="modal">닫기</button>&nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <input type="hidden" id="iseq" th:field="*{seq}">
    <input type="hidden" id="ipage" name="page">
    <input type="hidden" id="isize" name="size">
</form>
<script th:src="@{|${global.jsDir}/scripts_sub.js|}"></script>
<script th:inline="javascript">
    $(document).ready(function () {

        $('#ipage').val($('#page').val());
        $('#isize').val($('#size').val());

        var method = [[${dto.seq}]]==null?'/insert':'/update'
        //저장, 수정
        $('#save').on('click', function (e){

            e.preventDefault();
            var inputForm = $('form[name="fm_input"]');
            var url = window.location.href + "";
            inputForm.attr("action",url.split('?')[0] + method)
            inputForm.submit();

        })
    });
</script>
</body>
</html>