.ititle_1 {
	font-family:굴림;
	font-size:11px;
	font-weight:bold;
	color: #4d4b4b;
	background-color: #f5f5f5;
	text-align: right;
	font-weight:bold;
}
.ititle_1a {
	font-family: "Verdana", "돋움";
	font-size: 11px;
	color: #f85900;
	background-color: #cadff3;
	font-weight:bold;
}
.ititle_2 {
	font-family: "Verdana", "돋움";
	font-size: 14px;
	color: #595959;
	background-color: #FFFFFF;
	font-weight: bold;
}

.ititle_3 {
	font-family: "Verdana", "돋움";
	font-size: 11px;
	color: #595959;
	background-color: #f2f2f2;
	font-weight: bold;
	padding-left: 10px;
}
.ititle_4 {
	font-family: "Verdana", "돋움";
	font-size: 13px;
	color: #0b3575;
	background-color: #FFFFFF;
	font-weight: bold;
}
.ititle_41{
	font-family: "Verdana", "돋움";
	font-size: 13px;
	color: #0b3575;
	background-color: #e2e3d6;
	text-align: center;
	font-weight: bold;
}
.ititle_5 {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	color: #000000;
	background-color: #f5f5f5;
	font-weight: bold;
}
.ititle_51 {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	color: #FFFFFF;
	background-color: #edc869;
	font-weight: bold;
}
.ititle_6 {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	color: #000000;
	background-color: #EDE3C9;
	font-weight: bold;
}
.ititle_6s {
	font-family: "Verdana", "돋움";
	font-size: 11px;
	color: #000000;
	background-color: #d9d9dc;
}

.ititle_7s {
	font-family: "Verdana", "돋움";
	font-size: 10px;
	color: #000000;
	background-color: #EDE3C9;
}

 
.ltitle_1 {
	background: #ffffff; /* for non-css3 browsers */
	padding: 3 0 3 0;
}
.ltitle_2 {
	color: #000000;
	background-color: #99BFE6 !important;
	text-align: center;
}
.ltitle_3 {
	font-family: "Verdana", "돋움";
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4A769F;
	text-align: center;
}
.ltitle_4 {
	font-family: "Verdana", "돋움";
	font-size: 10px;
	color: #000000;
	background-color: #ecc86a;
}

.ltitle_15 {
	font-family: "Verdana", "돋움";
	font-size: 15px;
	color: #000000;
	background-color: #EDE3C9;
	font-weight: bold;
}

.itree {
	font-family: "Verdana", "돋움";
	font-size: 10px;
	color: #0b3575;
	background-color: #cadff3;
}

.data_1 {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	color: #434343;
	background-color: #FFFFFF;
	padding-left: 3px;
}

.iinput {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	padding: 0px;
	border: 1px solid #666666;
	margin: 0px;
}
.iinputa {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	padding: 0px;
	border: 1px solid #666666;
	margin: 0px;
	background-color: #fcfad3;
}

.ninput {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	padding: 0px;
	border: 1px solid #666666;
	margin: 0px;
	text-align: right;
}
.ninput9 {
	font-family: "Verdana", "돋움";
	font-size: 10px;
	padding-right: 5px;
	width: 75px;
	border: 1px solid #666666;
	margin: 0px;
	text-align: right;
}
.ninputa {
	Border:1x inset #939393;
	font-family:굴림,verdana;
	font-size:10pt;
	text-align: right;
	background-color: #fcfad3;
}
.ninput_N {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	padding: 0px;
	width: 100%;
	border: 0px;
	margin: 0px;
	text-align: right;
}
.ninput9_N {
	font-family: "Verdana", "돋움";
	font-size: 10px;
	padding: 0px;
	width: 100%;
	border: 0px;
	margin: 0px;
	text-align: right;
}
.ninput_C {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	padding: 0px;
	border: 0px;
	margin: 0px;
	text-align: left;
}

.ninput_R {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	padding: 0px;
	border: 1px solid #666666;
	margin: 0px;
	text-align: center;
	color: red;
	background-color: #FFF871;
}

.black_10 {font-family: "Verdana", "돋움"; font-size: 10px; color: #000000;}

.blue_10 {font-family: "Verdana", "돋움"; font-size: 10px; color: blue;}

.gray_10 {font-family: "Verdana", "돋움"; font-size: 10px; color: #B3B3B3; }
.gray_11 {font-family: "Verdana", "돋움"; font-size: 11px; color: #B3B3B3; }

.white_10 {font-family: "Verdana", "돋움"; font-size: 10px; color: #FFFFFF; }
.white_11 {font-family: "Verdana", "돋움"; font-size: 11px; color: #FFFFFF; }
.white_12 {font-family: "Verdana", "돋움"; font-size: 12px; color: #FFFFFF; }

.red_10 {font-family: "Verdana", "돋움"; font-size: 10px; color: #fe5200; }
.red_11 {font-family: "Verdana", "돋움"; font-size: 11px; color: #fe5200; }
.red_12 {font-family: "Verdana", "돋움"; font-size: 12px; color: #fe5200; }


.blue_01 {font-family: "Verdana", "돋움"; font-size: 11px; color: #90c4eb; background-color: #FFFFFF;	PADDING-BOTTOM: 3px;	PADDING-TOP: 1px;}


/*******************************************************************************************************************
* 공통코드관리 관련
/*******************************************************************************************************************/

.page_history {TEXT-DECORATION: none; color:#314761; font-size:9pt; font-family:돋움;letter-spacing:-1;}
.btn_box {
	font-family:Tahoma, Sans-serif; 
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:0;
	width:50px;
	height:23px;
	color:#333;
	letter-spacing:-1;
	vertical-align: middle ;
	padding-top: 2px;
	cursor: hand;
	background:url(../images/btn_ncomm.gif) no-repeat;
	border:0;
	 cursor:pointer;
}  /* 버튼 */

.btn_box_120 {
	font-family:굴림;
	font-size:10pt;
	font-weight:bold;
	margin:0;
	padding:0;
	width:120px;
	height:20px;
	border:1 solid #b7b7b7;
	color:#424242;
	letter-spacing:-1;
	background-color: #fdfdfd;
	vertical-align: middle;
	padding-top: 2px;
	cursor: hand;
}  /* 버튼 */
.btn_boxs {
	font-family:굴림;
	font-size:10px;
	font-weight:bold;
	margin:0;
	padding:0;
	width:20px;
	height:15px;
	border:1 solid #b7b7b7;
	color:#424242;
	letter-spacing:-1;
	background-color: #fdfdfd;
	vertical-align: middle;
	padding-top: 2px;
	cursor: hand;
}  /* 버튼 */
.dropdown_lista {font-family:굴림; font-size:8pt;   margin:0; padding:0; height:19px; background:white; border:0 solid white; color:#31456a;background-color: #fcfad3;vertical-align: middle ;}  /* 콤보 */

.memo_search {font-family:굴림; font-size:9pt; font-weight:bold;  margin:0; padding:0; height:19px; background:#509BC1; border:2 solid #509BC1; color:white;letter-spacing:-1;}  /* 조회 */

.code_search {font-family:굴림; font-size:9pt; font-weight:bold; width:80px; height:19px; background:#d77371; color:#350000;vertical-align:middle;background:url(../images/btn_comms.gif) no-repeat;}  /* 조회 */

.code_search1 {font-family:굴림; font-size:9pt; font-weight:bold;  margin-top:-4; padding-top:2;width:80px; height:19px; background:#d77371;  color:#350000;letter-spacing:-1; vertical-align:middle;background:url(../images/btn_comms.gif) no-repeat;}  /* 저장 */


.code_submit {font-family:굴림; font-size:9pt; font-weight:bold;  margin:0; padding:0;width:60px; height:19px; background:#50C18B; border:2 solid #50C18B; color:white;letter-spacing:-1;}  /* 등록 */
.code_save {font-family:굴림; font-size:9pt; font-weight:bold;  margin:0; padding:0;width:60px; height:19px; background:#509BC1; border:2 solid #509BC1; color:white;letter-spacing:-1;}  /* 저장 */

.code_list {font-family:굴림; font-size:9pt; font-weight:bold;  margin:0; padding:0;width:60px; height:19px; background:#50C18B; border:2 solid #50C18B; color:white;letter-spacing:-1;}  /* 목록 */
.code_input {font-size:9pt; font-family:"Tahoma","굴림"; padding-top:2px;padding-left:2px; border-width:1px; color:#85725C; background-color:#F7F4EC; border-color:#B5AB9F; border-style:solid; letter-spacing:0;}	/* 코드인풋공통 */
.sinmugo_7pt {TEXT-DECORATION: none; color:#666666; font-size:7pt; font-family:Tahoma;letter-spacing:0;}

.top_submit {font-family:굴림; font-size:9pt; font-weight:bold;  margin:0; padding:0;width:60px; height:19px; background:#054872; border:2 solid #054872; color:white;letter-spacing:-1;}  /* 등록 */

.sbtn {font-family:굴림; font-size:9pt; font-weight:bold;  margin:0; padding:0;width:30px; height:19px; background:#50C18B; border:2 solid #50C18B; color:white;letter-spacing:-1;}  /* 목록 */

A.data_y:link     {font-family:굴림; font-size:10px; font-weight:bold; margin:0; padding:0;width:25px; height:15px; background:#fff195; border:1 solid #be9f43; color:#000000;letter-spacing:-1;}		
A.data_y:visited  {font-family:굴림; font-size:10px; font-weight:bold; margin:0; padding:0;width:25px; height:15px; background:#fff195; border:1 solid #be9f43; color:#000000;letter-spacing:-1;}
A.data_y:active   {font-family:굴림; font-size:10px; font-weight:bold; margin:0; padding:0;width:25px; height:15px; background:#fff195; border:1 solid #be9f43; color:#000000;letter-spacing:-1;}
A.data_y:hover    {font-family:굴림; font-size:10px; font-weight:bold; margin:0; padding:0;width:25px; height:15px; background:#0d3b7c; border:1 solid #ffffff; color:white;letter-spacing:-1;}

A.code_modify:link     {TEXT-DECORATION: none; color:#526f61;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}		/* 코드수정링크 */
A.code_modify:visited  {TEXT-DECORATION: none; color:#526f61;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}
A.code_modify:active   {TEXT-DECORATION: none; color:#526f61;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}
A.code_modify:hover    {TEXT-DECORATION: none; color:#000000;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}

A.code_delete:link     {TEXT-DECORATION: none; color:#be431c;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}		/* 코드삭제링크 */
A.code_delete:visited  {TEXT-DECORATION: none; color:#be431c;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.code_delete:active   {TEXT-DECORATION: none; color:#be431c;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.code_delete:hover    {TEXT-DECORATION: none; color:#000000;  font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}  

A.code_view:link     {TEXT-DECORATION: none; color:#2e1f71; font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}		/* 코드삭제링크 */
A.code_view:visited  {TEXT-DECORATION: none; color:#2e1f71; font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.code_view:active   {TEXT-DECORATION: none; color:#2e1f71; font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.code_view:hover    {TEXT-DECORATION: none; color:#000000; font-weight:bold;font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}  

A.tree_view:link     {TEXT-DECORATION: none; color:#2e1f71; font-size:8pt; font-family:Tahoma,굴림;letter-spacing:0;}		/* 코드삭제링크 */
A.tree_view:visited  {TEXT-DECORATION: none; color:#2e1f71; font-size:8pt; font-family:Tahoma,굴림;letter-spacing:0;}
A.tree_view:active   {TEXT-DECORATION: none; color:#2e1f71; font-size:8pt; font-family:Tahoma,굴림;letter-spacing:0;}
A.tree_view:hover    {TEXT-DECORATION: none; color:#000000; font-size:8pt; font-family:Tahoma,굴림;letter-spacing:0;}  

A.code_1:link     {TEXT-DECORATION: none; color:#FFFFFF; font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}		/* 코드수정링크 */
A.code_1:visited  {TEXT-DECORATION: none; color:#FFFFFF; font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}
A.code_1:active   {TEXT-DECORATION: none; color:#FFFFFF; font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}
A.code_1:hover    {TEXT-DECORATION: none; color:#FFFFFF; font-size:11px; font-family:Tahoma,굴림;letter-spacing:-1;}

A.awhite_11:link     {TEXT-DECORATION: none; color:#0a5092; font-size:12px; font-family:Tahoma,굴림;letter-spacing:-1;}		/* 코드수정링크 */
A.awhite_11:visited  {TEXT-DECORATION: none; color:#0a5092; font-size:12px; font-family:Tahoma,굴림;letter-spacing:-1;}
A.awhite_11:active   {TEXT-DECORATION: none; color:#0a5092; font-size:12px; font-family:Tahoma,굴림;letter-spacing:-1;}
A.awhite_11:hover    {TEXT-DECORATION: none; color:#0a5092; font-size:12px; font-family:Tahoma,굴림;letter-spacing:-1;}

.INPUT {font-family: "굴림"; font-size: 9pt; line-height: 150%; color: #000000; background-color: #Fbfbfb; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.NUMINPUT {font-family: "굴림"; font-size: 9pt; line-height: 150%; color: #999999; background-color: #Fbfbfb; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;text-align: right}
.INPUTNON {font-family: "굴림"; font-size: 9pt; line-height: 150%; color: #000000; background-color: #F3F0E9; border: #F3F0E9; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;text-align: center}

.INPUTVIEW {
	font-family: "굴림"; 
	font-size: 12px;
	padding: 0px;
	border: 1px solid #666666;
	margin: 0px;
}

.textview {
	font-family: "굴림"; 
	font-size: 15px;
	padding: 0px;
	border: 0px solid #666666;
	margin: 0px;
	OVERFLOW: hidden;
}
.search_input {font-family: "Tahoma", "굴림"; font-size: 9pt; line-height: 150%; color: #737882; background-color: #Fbfbfb; border: #CCCCCC; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

td.month { background-color: lightskyblue; border: solid 1px powderblue; }
td.daytop { width: 18px; background-color: lemonchiffon; border: solid 1px powderblue; }
td.weekday { color: darkblue; background-color: aliceblue; border: solid 1px powderblue; }
td.holiday { color: crimson; background-color: linen; border: solid 1px powderblue; }
span.arrow1 { font-family: Gulim, sans-serif; color: dodgerblue; cursor: pointer; }
span.arrow2 { font-family: Gulim, sans-serif; color: blue; cursor: pointer; }
span.arrow3 { font-family: Gulim, sans-serif; color: mediumblue; cursor: pointer; }
A.acopyright:link    {font-family: "Tahoma";	font-size: 7pt;	color: #999999;	text-decoration: none;}
A.acopyright:visited  {font-family: "Tahoma";	font-size: 7pt;	color: #999999;	text-decoration: none;}
A.acopyright:active   {font-family: "Tahoma";	font-size: 7pt;	color: #999999;	text-decoration: none;}
A.acopyright:hover    {font-family: "Tahoma";	font-size: 7pt;	color: #999999;	text-decoration: none;}
.copyright {font-family: "Tahoma";	font-size: 7pt;	color: #999999;	text-decoration: none;}
.title {
	font-family: "Tahoma";
	font-size: 9pt;
	color: #990000;
	text-decoration: none;
	letter-spacing:-1px;
	font-weight:bold;
}
.description {
	font-family: "??";
	font-size: 8pt;
	color: #999999;
	text-decoration: none;
	letter-spacing:-1px;
}
.ItemStyle {margin-left:-15px; font-weight:bold}
.ItemStyle_r { font-weight:bold; color:#FB5004}

.prt_h { font-weight:bold; color:#000000;font-family: "Tahoma", "굴림"; font-size: 11pt;}
.prt_d { font-weight:none;color:#000000;font-family: "Tahoma", "굴림"; font-size: 8pt;}

.minputL12 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	padding: 0px;
	height: 17px;
	border: 1px solid #666666;
	margin: 0px;
}
.minputR12 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	padding: 0px;
	padding-right: 1px;
	height: 17px;
	border: 1px solid #666666;
	margin: 0px;
	text-align: right;
}
.minputL11 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	padding: 0px;
	height: 17px;
	border: 1px solid #666666;
	margin: 0px;
}
.minputR11 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	padding: 0px;
	padding-right: 1px;
	height: 17px;
	border: 1px solid #666666;
	margin: 0px;
	text-align: right;
}
.minputRed11 {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 11px;
	padding: 0px;
	padding-right: 1px;
	height: 17px;
	border: 1px solid #666666;
	margin: 0px;
	text-align: right;
	font-weight:bold;
	color:red;
}

.minputL10 {
	font-family: "Tahoma", "Verdana";
	font-size: 10px;
	line-height: 10px;
	padding: 0px;
	padding-top: 3px;
	padding-right: 1px;
	height: 15px;
	width: 15px;
	border: 1px solid #666666;
	margin: 0px;
	text-align: center;
	background-color:"#FDFFB9";
}
.mselect {
	font-family: "굴림","Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	height: 15px;
	border: 0px none;
}
.mtextbox {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	padding: 0px;
	border: 1px solid #666666;
	margin: 0px;
}
.dateL8 {
	font-family: "Tahoma", "Verdana";
	font-size: 8px;
	line-height: 15px;
	cursor: default;
}.dateL9 {
	font-family: "Tahoma", "Verdana";
	font-size: 9px;
	line-height: 15px;
	cursor: default;
}
.dateL10 {
	font-family: "Tahoma", "Verdana";
	font-size: 10px;
	line-height: 15px;
	cursor: default;
}
.dateL11 {
	font-family: "Tahoma", "Verdana";
	font-size: 11px;
	line-height: 15px;
	padding-left: 1px;
	padding-right: 1px;
	cursor: default;
}
.dateL12 {
	padding-left: 3px;
	padding-right: 3px;
}
.dateC11 {
	font-family: "Tahoma", "Verdana";
	font-size: 11px;
	line-height: 15px;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
	cursor: default;
}
.dateR10 {
	font-family: "Tahoma", "Verdana", "";
	font-size: 10px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: right;
	cursor: default;
}
.dateR11 {
	font-family: "Tahoma", "Verdana", "";
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: right;
	cursor: default;
}
.dateR12 {
	padding-left: 3px;
	padding-right: 3px;
	text-align: right;
}
.korL11 {
	font-family: "굴림", "돋움";
	font-size: 11px;
	padding-left: 0px;
	padding-right: 0px;
}
.padding2 {
	padding: 2px;
}
.padding3 {
	padding: 3px;
}
.padding5 {
	padding: 5px;
}
A.data_a:link ,A.data_a:visited ,A.data_a:active {TEXT-DECORATION: none; color:#638572; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_b:link ,A.data_b:visited ,A.data_b:active {TEXT-DECORATION: none; color:#695878; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_c:link ,A.data_c:visited ,A.data_c:active {TEXT-DECORATION: none; color:#000000; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_d:link ,A.data_d:visited ,A.data_d:active {TEXT-DECORATION: none; color:red; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_e:link ,A.data_e:visited ,A.data_e:active {TEXT-DECORATION: none; color:#4c3b9b; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_f:link ,A.data_f:visited ,A.data_f:active {TEXT-DECORATION: none; color:#ffff00; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_aa:link ,A.data_aa:visited ,A.data_aa:active {TEXT-DECORATION: none; color:#008080; font-size:12px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_cc:link ,A.data_cc:visited ,A.data_cc:active {TEXT-DECORATION: none; color:#000000; font-size:12px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_w:link ,A.data_w:visited ,A.data_w:active ,A.data_w:hover {TEXT-DECORATION: none; color:blue; font-size:10px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_x:link ,A.data_x:visited ,A.data_x:active ,A.data_x:hover {TEXT-DECORATION: none; color:red; font-size:10px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_z:link ,A.data_z:visited ,A.data_z:active ,A.data_z:hover {TEXT-DECORATION: none; color:#008080; font-size:10px; font-family:Tahoma,굴림;letter-spacing:0;}
A.data_11:link ,A.data_11:visited ,A.data_11:active ,A.data_11:hover {TEXT-DECORATION: none; color:#797979; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}

A.data_a:hover ,A.data_b:hover ,A.data_c:hover ,A.data_d:hover ,A.data_e:hover ,A.data_f:hover {TEXT-DECORATION: none; color:#000000; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}  
A.data_aa:hover ,A.data_cc:hover {TEXT-DECORATION: none; color:#000000; font-size:12px; font-family:Tahoma,굴림;letter-spacing:0;}  

.data_a {TEXT-DECORATION: none; color:#638572; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
.data_b {TEXT-DECORATION: none; color:#695878; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
.data_c {TEXT-DECORATION: none; color:#000000; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
.data_d {TEXT-DECORATION: none; color:#b94648; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;text-align: right;}
.data_db {TEXT-DECORATION: none; color:#b94648; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;text-align: right;background-color:#ececed;}
.data_dbb {TEXT-DECORATION: none; color:#b94648; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;text-align: right;background-color:#d9d9dc;}
.data_e {TEXT-DECORATION: none; color:#4c3b9b; font-size:11px; font-family:Tahoma,굴림;letter-spacing:0;}
.data_f {TEXT-DECORATION: none; color:#0d3b7c; font-size:9px; font-family:Tahoma,굴림;letter-spacing:0;}

.G48 {FONT-SIZE: 40px; 	FONT-FAMILY: "굴림";	line-height: 50px;font-weight:bold;vertical-align: bottom ;}
.G24 {FONT-SIZE: 24px; 	FONT-FAMILY: "굴림";	line-height: 30px;font-weight:bold;vertical-align: bottom ;}
.G15 {FONT-SIZE: 15px; 	FONT-FAMILY: "굴림";	line-height: 15px;font-weight:bold;vertical-align: bottom ;}
.G12 {FONT-SIZE: 12px; 	FONT-FAMILY: "굴림";	line-height: 30px;font-style:italic;vertical-align: bottom ;color:blue;}

.GTAB {
	font-family:굴림; 
	font-size:12pt; 
	margin:0; 
	padding:0;
	border:5 solid #E3E4D6; 
}  
.table_100 { width:100% ; border: 1px solid #eff0e2 ; padding: 0px; background-color:#E3E4D6}

.ititle_sms1 {
	font-family:굴림;
	font-size:11px;
	font-weight:bold;
	color: #000000;
	text-align: right;
	font-weight:bold;
	border-top:solid 1px #e6e6e6;
	border-bottom:solid 1px #e6e6e6;
	background-color:#f0f0f0;
}
.ititle_sms2 {
	font-family:굴림;
	font-size:11px;
	font-weight:bold;
	color: #000000;
	text-align: center;
	font-weight:bold;
	border-top:solid 1px #e6e6e6;
	border-bottom:solid 1px #e6e6e6;
	background-color:#fafafa;
}

#sms_box {
scrollbar-3dlight-color:#FFFFFF;
scrollbar-arrow-color:#000000;
scrollbar-track-color:#FFFFFF;
scrollbar-darkshadow-color:#000000;
scrollbar-face-color:#FFFFFF;
scrollbar-highlight-color:#000000;
scrollbar-shadow-color:#FFFFFF;
}

#sms_box {width:175;height:120;overflow:auto;}
.sms_data {
	font-family: "Tahoma", "Verdana";
	font-size: 9px;
	line-height: 15px;
	cursor: hand;
	border-bottom:solid 1px #e6e6e6;
}
.sms_title {
	font-family: "Tahoma", "Verdana";
	font-size: 11px;
	cursor: hand;
	text-align: center;
}
.pgtitle {
	font-family: "Verdana", "돋움";
	font-size: 14px;
	color: #325482;
	background-color: #deebf9;
	font-weight: bold;
}

@charset "utf-8"; 
/* Jeong Chan Myeong(dece24@gmail.com) */

/* Button Reset */
.button,
.button a,
.button button,
.button input { position:relative; margin:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; white-space:nowrap; background:url(../images/buttonWhite.gif) no-repeat; overflow:visible; color:#000000;}
.button { height:23px; padding:0; vertical-align:middle; margin-right:2px; background-position:left top;}
.button a,
.button button,
.button input{ left:2px; vertical-align:top; cursor:pointer;}
 /* Button Size */
.button.large { height:29px; background-position:left -30px; }
.button.xLarge { height:35px; background-position:left -65px; }
.button.small { height:18px; background-position:left -107px; }
.button a,
.button button,
.button input { height:23px; padding:0 10px 0 8px; font-size:12px; line-height:23px; background-position:right top;}
.button.large a,
.button.large button,
.button.large input { height:30px; padding:0 10px 0 8px; font-size:16px; line-height:29px; background-position:right -30px;}
.button.xLarge a,
.button.xLarge button,
.button.xLarge input { height:35px; padding:0 10px 0 8px; font-size:20px; line-height:35px; background-position:right -65px;}
.button.small a,
.button.small button,
.button.small input { height:18px; padding:0 6px 0 4px; font-size:11px; line-height:18px; background-position:right -107px;}

/* Button Text Color */
.button *:hover,
.button *:active,
.button *:focus{ color:#690;}
.button.green,
.button.green a,
.button.green button,
.button.green input { background-image:url(../images/buttonGreen.gif); color:#fff;}
.button.green *:hover,
.button.green *:active,
.button.green *:focus{ color:#ff0;}
.button.black,
.button.black a,
.button.black button,
.button.black input { background-image:url(../images/buttonBlack.gif); color:#fff;}
.button.black *:hover,
.button.black *:active,
.button.black *:focus{ color:#ff0;}
.button.red,
.button.red a,
.button.red button,
.button.red input { background-image:url(../images/buttonRed.gif); color:#fff;}
.button.red *:hover,
.button.red *:active,
.button.red *:focus{ color:#ff0;}
.button.blue,
.button.blue a,
.button.blue button,
.button.blue input { background-image:url(../images/buttonBlue.gif); color:#fff;}
.button.blue *:hover,
.button.blue *:active,
.button.blue *:focus{ color:#ff0;}

/* Button Text Strong */
.button.strong * { font-weight:bold !important;}

.search_tb1 {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	color: #000000;
	background-color: #fbfaff;
	border: 1px solid #e9eaec;
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 0px;
	border-left-width: 1px;
}
.search_td {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	color: #000000;
	background-color: #fbfaff;
	border: 1px solid #e9eaec;
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 1px;
	border-left-width: 0px;
	 padding:3px;
}
.search_bg {
	font-family: "Verdana", "돋움";
	font-size: 12px;
	color: #000000;
	background-color: #fbfaff;
}

.dropdown_list {
	font-family:굴림; 
	font-size:11px;   
	margin:0;
	padding:0; 
	height:21px;
	background:white; 
	border:1px solid #dddddd; 
	color:#31456a;
	vertical-align: middle ;
}  /* 콤보 */

.search_tb table {
	width:100%;
	margin:15px 0
}
.search_tb,.search_tb td
{
	font-size: 12px;
	padding:5px;
	border:1px solid #dddddd;
	border-collapse:collapse
}
.search_tb tr:nth-child(odd){
	background-color:#fbfaff;
}
.search_tb tr:nth-child(even){
	background-color:#fbfaff;
}

.list_tb table {
	width:100%;
	margin:15px 0
}
.list_tb th {
	background-color:#c6d8ed;
	color:#000000
}
.list_tb,.list_tb th,.list_tb td
{
	font-size: 12px;
	text-align:center;
	padding:4px;
	border:1px solid #dddddd;
	border-collapse:collapse
}
.list_tb tr:nth-child(odd){
	background-color:#ebedec;
}
.list_tb tr:nth-child(even){
	background-color:#ffffff;
}

.inupt_tb table {
	width:100%;
}
.inupt_tb th {
	background-color:#c6d8ed;
	color:#000000;
	text-align:center;
}
.inupt_tb,.inupt_tb th,.inupt_tb td 
{
	font-size: 12px;
	padding:2px;
	border:1px solid #dddddd;
	border-collapse:collapse
}
.inupt_tb tr
{
	background-color:#fbfaff;
}
.inupt_tb td:nth-child(odd){
	text-align:right;
	padding-right:5px ;
	font-weight: bold;
}

.inupt_tb input_tbs{
	width:100%;
	background-color:#fbfaff;
	border:0px solid #dddddd;
}
/*뉴메뉴*/
    #topMenu {
		height: 30px;  /* 메인 메뉴의 높이 */
		width: 1059px;  /* 메인 메뉴의 넓이 */
    }
    #topMenu ul {           /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
        list-style-type: none;  /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
        margin: 0px;            /* 메인 메뉴 안의 ul의 margin을 없앰 */
        padding: 0px;           /* 메인 메뉴 안의 ul의 padding을 없앰 */
    }
    #topMenu ul li {            /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
        color: white;               /* 글씨 색을 흰색으로 설정 */
        background-color: #696a6a;  /* 배경 색을 RGB(2D2D2D)로 설정 */
        float: left;                /* 왼쪽으로 나열되도록 설정 */
        line-height: 30px;          /* 텍스트 한 줄의 높이를 30px로 설정 */
        vertical-align: middle;     /* 세로 정렬을 가운데로 설정 */
        text-align: center;         /* 텍스트를 가운데로 정렬 */
        position: relative;         /* 해당 li 태그 내부의 top/left 포지션 초기화 */
		z-index:99;
    }
    .menuLink {           /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
        text-decoration:none;               /* a 태그의 꾸밈 효과 제거 */
        display: block;                     /* a 태그의 클릭 범위를 넓힘 */
        width: 82px;                       /* 기본 넓이를 150px로 설정 */
        font-size: 13px;                    /* 폰트 사이즈를 12px로 설정 */
        font-weight: bold;                  /* 폰트를 굵게 설정 */
        font-family:Tahoma, Sans-serif; /* 기본 폰트를 영어/한글 순서대로 설정 */
        color: white;
    }
    .topMenuLi:hover .menuLink {    /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
        color: #ff0;                 /* 글씨 색 빨간색 */
        background-color: #4d4d4d;  /* 배경색을 밝은 회색으로 설정 */
    }
    .submenuLink {          /* 하위 메뉴의 a 태그 스타일 설정 */
        color: #000000;             /* 글씨 색을 RGB(2D2D2D)로 설정 */
        background-color: #DDDDDD;    /* 배경색을 흰색으로 설정 */
        border: dotted 1px #000000;    /* 테두리를 설정 */
        margin-top: -1px;           /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */
        text-decoration:none;               /* a 태그의 꾸밈 효과 제거 */
        display: block;                     /* a 태그의 클릭 범위를 넓힘 */
        width: 205px;                       /* 기본 넓이를 150px로 설정 */
        font-size: 13px;                    /* 폰트 사이즈를 12px로 설정 */
        font-family:Tahoma, Sans-serif; /* 기본 폰트를 영어/한글 순서대로 설정 */
		height: 24px;  /* 메인 메뉴의 높이 */
        line-height: 24px;          /* 텍스트 한 줄의 높이를 30px로 설정 */
    }
    .longLink {     /* 좀 더 긴 메뉴 스타일 설정 */
        width: 200px;   /* 넓이는 190px로 설정 */
    }
    .submenu {              /* 하위 메뉴 스타일 설정 */
        position: absolute;     /* html의 flow에 영향을 미치지 않게 absolute 설정 */
        height: 0px;            /* 초기 높이는 0px로 설정 */
        width: 205px;                       /* 기본 넓이를 150px로 설정 */
        overflow: hidden;       /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
        transition: height .1s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */
        -webkit-transition: height .1s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */
        -moz-transition: height .1s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */
        -o-transition: height .1s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */
		z-index:99;
    }
    .topMenuLi:hover .submenu { /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
        height: 800px;           /* 높이를 93px로 설정 */
    }
    .submenuLink:hover {        /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
        color: #ffffff;                 /* 글씨색을 빨간색으로 설정 */
        background-color: #696a6a;  /* 배경을 RGB(DDDDDD)로 설정 */
    }
/*뉴메뉴*/
/*Progress*/
#myProgress { 
	position: relative; 
	width: 70%;
	height: 30px; 
	background-color: #ddd; 
	z-index:1;
} 
#myBar { 
	position: relative;
	width: 1%; 
	height: 30px; 
	background-color: #dc3545;
	font-size: 20px;                    /* 폰트 사이즈를 12px로 설정 */
	font-weight: bold;                  /* 폰트를 굵게 설정 */
	font-family:Tahoma, Sans-serif; /* 기본 폰트를 영어/한글 순서대로 설정 */
	color: #ffffff;                 /* 글씨색을 빨간색으로 설정 */
	vertical-align: middle;     /* 세로 정렬을 가운데로 설정 */
	text-align: center;         /* 텍스트를 가운데로 정렬 */
	line-height: 30px;          /* 텍스트 한 줄의 높이를 30px로 설정 */
	z-index:2;
  border-color: #dc3545;
} 
/*Progress*/

.wts-radius {
	font:16px 돋움; 
	text-align:center;
	color: #ffffff;
	background-color: #098dd8; 
	font-weight:bold;
	padding: 2px;
	border: 2px solid #098dd8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
}
