<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form name="fm_input" th:action="@{/040104/insert}" method="post" enctype="multipart/form-data" th:object="${dto}">
  <div class="container-fluid p-2">
    <div class="input_div">
      <table class="input_table">
        <tr>
          <td>
            <label for='classSeq' class='input_labal'>품목분류</label>
            <select class='form-select' id='classSeq' name="classSeq" size=1>
              <option value=''>선택</option>
              <option th:each="classSeqCode : ${classSeqCodes}"
                      th:value="${classSeqCode.value}"
                      th:text="${classSeqCode.text}"
                      th:attr="selected=${classSeqCode.text == dto.classSeq ? 'true' : 'false'}">
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="classCd" class="input_labal">품목구분코드</label>
            <input id="classCd" th:field="*{classCd}" type="text" size="5" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <label for="classAl" class="input_labal">품목그룹정렬순서</label>
            <input id="classAl" name="classAl" type="text" th:value="${dto.classAl != null ? dto.classAl:0}" size="11" class="form-control input_number">
          </td>
        </tr>
        <tr>
          <td>
            <label for="classNm" class="input_labal">품목구분명</label>
            <input id="classNm" th:field="*{classNm}" type="text" size="30" class="form-control">
          </td>
        </tr>
      </table>
    </div>
    <div class="input_div button_table">
      <table class="input_table">
        <tr>
          <td class="float-end">
            <button name="save" id="save" type="button" class="btn btn-gfk btn-sm"
                    th:onclick="lf_confirm([[${action}]],'','','')">저장
            </button>
            <button name="close" id="close" type="button" class="btn btn-gfk btn-sm" data-dismiss="modal">닫기</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <input type="hidden" th:field="*{seq}" size="0" class="form-control ">
  <input type="hidden" id="fstId" name="fstId" th:value="${fstId}" size="0" class="form-control ">
  <input type="hidden" id="scdId" name="scdId" th:value="${scdId}" size="0" class="form-control ">
  <input type="hidden" id="thdId" name="thdId" th:value="${thdId}" size="0" class="form-control ">
</form>
<script th:src="@{|${global.jsDir}/scripts_sub.js|}"></script>
</body>
</html>