<html th:replace="~{layout/layoutMain:: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<main>
  <script th:inline="javascript">
    function lf_confirm(as_action, as_val1, as_val2, as_val3) {// FORM을 서버미트 하기전에 수행할 일
      switch (as_action) {
        case "query" :
          $('#size').val($('#num_per_page').val());
          $('#page').val(1);
          fm_home.action = "/040105";
          fm_home.method = "/get";
          fm_home.submit();
          break;
        case "insert" : //저장
        case "update" : //저장
          fm_input.action = "/040105/" + as_action;
          fm_input.submit();
          break;
        case "delete" : //저장
          fm_home.action = "/040105/" + as_action + "/" + as_val1;
          fm_home.submit();
          break;
        case "excel" :
          fm_home.action = "/040105/excel";
          fm_home.method = "get";
          fm_home.submit();
          break;
      }
    }
  </script>
  <form name="fm_home" method="post" enctype="multipart/form-data">
    <div class="container-fluid p-2">
      <div class="titleBar" id="titleBar">
        <div class="row">
          <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i>&nbsp;[[${menuNm.thdNm}]]&nbsp;([[${menuId.fstId}]][[${menuId.scdId}]][[${menuId.thdId}]])</div>
          <div class="col titleBar_path">[[${menuNm.fstNm}]] > [[${menuNm.scdNm}]] > [[${menuNm.thdNm}]]</div>
        </div>
      </div>
      <div class="searchBar" id="searchBar">
        <div class="row">
          <div class="col-12 fixed-right p-2 px-4">
            <table>
              <tr>
                <td class="p-1">
                  <label for="sgoodsnm" class="">품목명</label>
                  <input type="text" name="goodsNm" th:value="${search.goodsNm}" id="sgoodsnm" size="30" class="form-control ">
                </td>
                <td class="p-1">
                  <label for="sitemgb1" class="">품목그룹1</label>
                  <select class="form-select" id="sitemgb1" name="itemGb1" th:value="${search.itemGb1}" size="1">
                    <option value="">선택</option>
                    <option th:each="itemGb1 : ${itemGb1s}" th:value="${itemGb1.key}" th:text="${itemGb1.value}"
                            th:attr="selected=${itemGb1.key == search.itemGb1?'true' : 'false'}">aaa</option>
                </select>
                </td>
                <td>
                  <button name="query" id="query" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">조회</button>
                  <button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal"
                          data-target="#inputpopup"
                          th:onclick="gf_modal('040105/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'insert', '','');">
                    등록
                  </button>
                  <button name="excel" id="excel" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">엑셀</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="table-responsive text-nowrap" id="tableWrapper">
        <table class="table table-striped tablesorter-blue" id="datatable_1">
          <thead>
          <tr class="tableList_h_tr">
            <th th:each="title : ${titles}" th:text="${title}">타이틀</th>
          </tr>
          </thead>
          <tbody>
          <tr th:class="list_tr_1" th:each="dto, dtoStat : ${dtos}">
            <td class="list_td_1" th:text="${dtoStat.count}" text-center></td>
            <td class="list_td_1" text-center>
              <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal"
                      data-target="#inputpopup"
                      th:onclick="gf_modal('040105/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'update', [[${dto.seq}]],'');">
                수정
              </button>&nbsp;
              <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm"
                      th:onclick="lf_confirm(this.name,[[${dto.seq}]],'','')">삭제
              </button>&nbsp;
            </td>
            <td class="list_td_1 text-center" th:text="${dto.goodsCd}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.goodsNm}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.standard}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.unit}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.classSeq}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.setYn}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.stockYn}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.productNm}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.itemGb1}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.itemGb2}">내용</td>
            <td class="list_td_1 text-end" th:text="${dto.stockQty != null ? #numbers.formatInteger(dto.stockQty,0, 'COMMA') : 0}">내용</td>
            <td class="list_td_1 text-end" th:text="${dto.aQty != null ? #numbers.formatInteger(dto.aQty,0, 'COMMA') : 0}">내용</td>
            <td class="list_td_1 text-end" th:text="${#numbers.formatInteger(dto.wPrice,0, 'COMMA')}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.wPriceVat}">내용</td>
            <td class="list_td_1 text-end" th:text="${#numbers.formatInteger(dto.fPrice,0, 'COMMA')}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.fPriceVat}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.imgNmSave}">내용</td>
            <td class="list_td_1 text-center" th:text="${dto.imgNmOut}">내용</td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="tableList_f_tr">
            <th th:each="footer, footerStat : ${footers}"
                class="tableList_f_td"
                th:text="${footer != '' ? #numbers.formatInteger(footer,0, 'COMMA') : ''}"></th>
          </tr>
          </tfoot>
        </table>
      </div>
      <div th:replace="paging.html :: paging"></div>
    </div>
  </form>
</main>
</html>

<script src="/js/scripts_sub.js"></script>
<script th:inline="javascript">
  $(document).ready(function () {
    $("#modal_main").addClass("modal-lg");
    $("#datatable_1").width("1501px");
  });
</script>