<html th:replace="~{layout/layoutMain:: layout(~{::main})}"
      xmlns:th="http://www.thymeleaf.org">

<main>
  <script th:inline="javascript">
    function lf_confirm(as_action, as_val1, as_val2, as_val3) {// FORM을 서버미트 하기전에 수행할 일
      switch (as_action) {
        case "query" :
          $('#size').val($('#num_per_page').val());
          $('#page').val(1);
          fm_home.action = "/040102";
          fm_home.method = "/get";
          fm_home.submit();
          break;
        case "insert" : //저장
        case "update" : //저장
          fm_input.action = "/040102/" + as_action;
          fm_input.method = "post";
          fm_input.submit();
          break;
        case "delete" : //저장
          fm_home.action = "/040102/" + as_action + "/" + as_val1;
          fm_home.method = "post";
          fm_home.submit();
          break;
        case "excel" :
          fm_home.action = "/040102/excel";
          fm_home.method = "get";
          fm_home.submit();
          break;
      }
    }
  </script>
  <form name="fm_home" method="post" enctype="multipart/form-data">
    <div class="container-fluid p-2">
      <div class="titleBar" id="titleBar">
        <div class="row">
          <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i>&nbsp;[[${menuNm.thdNm}]]&nbsp;([[${menuId.fstId}]][[${menuId.scdId}]][[${menuId.thdId}]])</div>
          <div class="col titleBar_path">[[${menuNm.fstNm}]] > [[${menuNm.scdNm}]] > [[${menuNm.thdNm}]]</div>
        </div>
      </div>
      <div class="searchBar" id="searchBar">
        <div class="row">
          <div class="col-12 fixed-right p-2 px-4">
            <table>
              <tr>
                <td class="p-1">
                  <label for="sCustNm" class="search_labal_lg">상호(이름)</label>
                  <input id="sCustNm" name="sCustNm" th:value="${sCustNm}" type="text" size="15" class="form-control">
                </td>
                <td class="p-1">
                  <label for="sCeoNm" class="search_labal_lg">대표자명</label>
                  <input id="sCeoNm" name="sCeoNm" th:value="${sCeoNm}" type="text" size="15" class="form-control">
                </td>
                <td class="p-1">
                  <label for='sEmpCd' class="search_labal">담당자</label>
                  <select class='form-select' id='sEmpCd' name="sEmpCd" th:value="${sEmpCd}" size=1>
                    <option value=''>선택</option>
                    <option th:each="empCode : ${empCodes}" th:attr="selected=${empCode.value == sEmpCd ?'true' : 'false'}"
                            th:value="${empCode.value}" th:text="${empCode.text}"></option>
                  </select>
                </td>
                <td class="p-1">
                  <label for='sClass1' class="search_labal_lg">거래처그룹1</label>
                  <select class='form-select' id='sClass1' name="sClass1" th:value="${sClass1}" size=1>
                    <option value=''>선택</option>
                    <option th:each="class1Code : ${class1Codes}" th:attr="selected=${class1Code.value == sClass1 ?'true' : 'false'}"
                            th:value="${class1Code.value}" th:text="${class1Code.text}"></option>
                  </select>
                </td>
                <td class="px-4">
                  <button name="query" id="query" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">조회</button>
                  <button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal"
                          data-target="#inputpopup"
                          th:onclick="gf_modal('040102/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'insert', '','');">
                    등록
                  </button>
                  <button name="excel" id="excel" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">엑셀</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="table-responsive text-nowrap" id="tableWrapper">
        <table class="table table-striped tablesorter-blue" id="datatable_1">
          <thead>
          <tr class="tableList_h_tr">
            <th th:each="title : ${titles}" th:text="${title}">타이틀</th>
          </tr>
          </thead>
          <tbody>
          <tr th:class="list_tr_1" th:each="dto, dtoStat : ${dtos}">
            <td class="list_td_1" th:text="${dtoStat.count}" text-center></td>
            <td class="list_td_1" text-center>
              <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal"
                      data-target="#inputpopup"
                      th:onclick="gf_modal('040102/input',[[${menuId.fstId}]],[[${menuId.scdId}]],[[${menuId.thdId}]],'update', [[${dto.seq}]],'');">
                수정
              </button>&nbsp;
              <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm"
                      th:onclick="lf_confirm(this.name,[[${dto.seq}]],'','')">삭제
              </button>&nbsp;
            </td>
            <td class="list_td_1" th:text="${dto.custCd}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.custNm}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.ceoNm}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.phone}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.mobile}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.custFax}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.empCd}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.saleCd}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.class1}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.class2}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.saleGr}" text-center>내용</td>
            <td class="list_td_1" th:text="${dto.buyGr}" text-center>내용</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div th:replace="paging.html :: paging"></div>
    </div>
  </form>
</main>
</html>

<script src="/js/scripts_sub.js"></script>
<script th:inline="javascript">
  $(document).ready(function () {
    $("#modal_main").addClass("modal-xl");
    $("#datatable_1").width("1500");
  });
</script>