<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form name="fm_input" th:action="@{/040109/insert}" method="post" enctype="multipart/form-data" th:object="${dto}">
  <div class="container-fluid p-2">
    <div class="input_div">
      <table class="input_table">
        <tr>
          <td>
            <label for="projectCd" class="input_labal">프로젝트코드</label>
            <input id="projectCd" th:field="*{projectCd}" type="text" size="5" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <label for="projectAl" class="input_labal">프로젝트정렬순서</label>
            <input id="projectAl" th:field="*{projectAl}" type="number" size="11" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <label for="projectNm" class="input_labal">프로젝트명</label>
            <input id="projectNm" th:field="*{projectNm}" type="text" size="30" class="form-control">
          </td>
        </tr>
      </table>
    </div>
    <div class="input_div button_table">
      <table class="input_table">
        <tr>
          <td class="float-end">
            <button name="save" id="save" type="button" class="btn btn-gfk btn-sm"
                    th:onclick="lf_confirm([[${action}]],'','','')">저장
            </button>
            <button name="close" id="close" type="button" class="btn btn-gfk btn-sm" data-dismiss="modal">닫기</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <input type="hidden" th:field="*{seq}" size="0" class="form-control ">
  <input type="hidden" id="fstId" name="fstId" th:value="${fstId}" size="0" class="form-control ">
  <input type="hidden" id="scdId" name="scdId" th:value="${scdId}" size="0" class="form-control ">
  <input type="hidden" id="thdId" name="thdId" th:value="${thdId}" size="0" class="form-control ">
</form>
<script th:src="@{|${global.jsDir}/scripts_sub.js|}"></script>
</body>
</html>