<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form name="fm_input" th:action="@{/040202/insert}" method="post" enctype="multipart/form-data" th:object="${dto}">
  <script th:inline="javascript">
    function gf_rowdel(num) {
      $('#goodscd_' + num).val("")
      $('#goodsnm_' + num).val("")
      $('#standard_' + num).val("")
      $('#qty_' + num).val(0)
      $('#price_' + num).val(0)
      $('#amt_' + num).val(0)
      $('#vat_' + num).val(0)
      $('#amtSum_' + num).val(0)
      $('#note_' + num).val("")
      $('#priceVat_' + num).val(0)
      return false;
    }
  </script>
  <div class="container-fluid p-2">
    <div class="input_div button_table">
      <table class="input_table">
        <tr>
          <td class="float-end">
            <button name="save" id="save" type="button" class="btn btn-gfk btn-sm"
                    th:onclick="lf_confirm([[${action}]],'','','')">저장
            </button>
            <button name="load_search" id="load_search" type="button" class="btn btn-gfk btn-sm" onclick='gf_popup("1200","500","_search_est","/040203/orderPopUp")'>주문서 검색</button>
            <button name="close" id="close" type="button" class="btn btn-gfk btn-sm" data-dismiss="modal">닫기</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="input_div">
      <table class="input_table">
        <tr>
          <td>
            <div class='input-group input-daterange'>
              <div class='input-group-addon px-2'>
                <label for="saleDt" class="input_labal">일자</label>
              </div>
              <input type="text" id="saleDt" name="saleDt" th:value="${date}" size="6" class="input_date" autocomplete="off">
            </div>
          </td>
          <td>
            <label for="saleNo" class="input_labal">판매번호</label>
            <input id="saleNo" name="saleNo" th:value="${saleNo}" type="text" size="10" class="form-control" readonly>
          </td>
          <td>
            <label for="vcustcd" class="input_labal">거래처</label>
            <input type="hidden" id="vcustcd" th:field="*{custCd}" size="30" class="form-control" readonly>
            <input type="text" id="vcustnm" th:field="*{custNm}" size="30" class="form-control" readonly>
            <button name="clear" id="clear" type="button" class="btn btn-gfk btn-ssm" onclick="document.getElementById('vcustcd').value='';document.getElementById('vcustnm').value='';">비움</button>
            <button name="findcust" id="findcust" type="button" class="btn btn-gfk btn-ssm" onclick='gf_popup("700","500","_search_cust","/040102/popup?type=2")'>검색</button>
          </td>
        </tr>
        <tr>
          <td>
            <label for='empNo' class='input_labal'>담당자</label>
            <select class='form-select' id='empNo' th:field="*{empNo}" size=1>
              <option value=''>선택</option>
              <option th:each="empCode : ${empCodes}"
                      th:attr="selected=${empCode.value == empNo ?'true' : 'false'}"
                      th:value="${empCode.value}"
                      th:text="${empCode.text}">
            </select>
          </td>
          <td>
            <label for='vsaletype' class='input_labal'>거래유형</label>
            <select class='form-select' id='vsaletype' th:field="*{saleType}" size=1
                    th:onchange="gf_changeSaletype('vsaletype','vatyn_','5','sum');">
              <option value=''>선택</option>
              <option th:each="saleTypeCode : ${saleTypeCodes}"
                      th:attr="selected=${saleTypeCode.value == saleType ?'true' : 'false'}"
                      th:value="${saleTypeCode.value}"
                      th:text="${saleTypeCode.text}">
            </select>
          </td>
          <td>
            <label for='whouseCd' class='input_labal'>출하창고</label>
            <select class='form-select' id='whouseCd' th:field="*{whouseCd}" size=1>
              <option value=''>선택</option>
              <option th:each="whouseCode : ${whouseCodes}"
                      th:attr="selected=${whouseCode.value == whouseCd ?'true' : 'false'}"
                      th:value="${whouseCode.value}"
                      th:text="${whouseCode.text}">
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for='excgCd' class='input_labal'>통화</label>
            <select class='form-select' id='excgCd' th:field="*{excgCd}" size=1>
              <option value=''>선택</option>
              <option th:each="excgCode : ${excgCodes}"
                      th:attr="selected=${excgCode.value == excgCd ?'true' : 'false'}"
                      th:value="${excgCode.value}"
                      th:text="${excgCode.text}">
            </select>
          </td>
          <td>
            <label for='status' class='input_labal'>상태</label>
            <select class='form-select' id='status' th:field="*{status}" size=1>
              <option value=''>선택</option>
              <option th:each="statusCode : ${statusCodes}"
                      th:attr="selected=${statusCode.value == status ?'true' : 'false'}"
                      th:value="${statusCode.value}"
                      th:text="${statusCode.text}">
            </select>
            <label class='input_labal' for="closeYn">종결여부</label>
            <div class='form-check form-check-inline'>
              <input class='form-check-input' type="checkbox" style="margin-top: 10px" id="closeYn" th:field="*{closeYn}">
            </div>
          </td>
          <td>
            <label for='projectCd' class='input_labal'>프로젝트</label>
            <select class='form-select' id='projectCd' th:field="*{projectCd}" size=1>
              <option value=''>선택</option>
              <option th:each="projectCode : ${projectCodes}"
                      th:attr="selected=${projectCode.value == projectCd ?'true' : 'false'}"
                      th:value="${projectCode.value}"
                      th:text="${projectCode.text}">
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <label for="zipCd" class="input_labal">배송지</label>
            <input id="zipCd" name="zipCd" type="text" size="5" class="form-control">
            <button name="search" id="search" type="button" class="btn btn-gfk btn-sm"
                    onclick="openZipSearch('zipCd','address','address1')">검색
            </button>
            <input id="address" name="address" type="text" size="30" class="form-control">
            <input id="address1" name="address1" type="text" size="50" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <label for='outNm' class='input_labal'>출고자</label>
            <select class='form-select' id='outNm' name="outNm" size=1>
              <option value=''>선택</option>
              <option th:each="empCode : ${empCodes}"
                      th:attr="selected=${empCode.value == outNm ?'true' : 'false'}"
                      th:value="${empCode.value}"
                      th:text="${empCode.text}">
            </select>
          </td>
          <td>
            <label for="name" class="input_labal">이름/연락처</label>
            <input id="name" name="name" type="text" size="30" class="form-control">
          </td>
        </tr>
        <tr>
          <td>
            <label for="takeOk" class="input_labal">인수증확인</label>
            <input id="takeOk" name="takeOk" type="text" size="30" class="form-control">
          </td>
          <td colspan="2">
            <label for="note2" class="input_labal">출고시참조</label>
            <input id="note2" name="note2" th:value="*{note}" type="text" size="30" class="form-control">
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <label for="note" class="input_labal">기타사항</label>
            <textarea id="note" name="note" th:value="*{note2}" cols="150"></textarea>
          </td>
        </tr>
      </table>
    </div>
    <div class="table-responsive text-nowrap" id="tableWrapper">
      <table class="table table-striped tablesorter-blue" id="datatable_2">
        <tbody>
        <tr class="tableList_h_tr">
          <th th:each="title : ${titles}" th:text="${title}">타이틀</th>
        </tr>
        <tr th:each="sub,subStat : ${subDtos}" style="height: 30px;">
          <td>
            <input th:id="|vatyn_${subStat.index}|" th:name="|vatyn_${subStat.index}|" type="hidden" size="5" class="form-control">
            <button name="row_del" id="row_del" type="button" class="btn btn-gfk btn-sm"
                    th:onclick="gf_rowdel([[${subStat.index}]]); gf_totsum('qty','amt','vat','5','qty_t','amt_t','vat_t','tot_t');">삭제</button>&nbsp;
          </td>
          <td>
            <input th:id="|goodscd_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].goodsCd'}"
                   th:value="${sub.goodsCd}" type="text" size="5" class="form-control">
          </td>
          <td>
            <input th:id="|goodsnm_${subStat.index}|" th:name="goodsNm"
                   th:value="${sub.goodsNm}" type="text" size="40" class="form-control">
            <button name="row_find" id="row_find" type="button" class="btn btn-gfk btn-sm"
                    th:onclick='gf_popup("700","500","_search_goods","/040105/popup?type="+ [[${subStat.index + 2}]] +"&product=true&stock=true")'>검색</button>&nbsp;
          </td>
          <td>
            <input th:id="|standard_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].standard'}"
                   th:value="${sub.standard}" type="text" size="5" class="form-control" readonly>
          </td>
          <td>
            <input th:id="|qty_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].qty'}"
                   th:value="${sub.qty}" type="text" size="5" class="form-control input_number"
                   th:onchange="|gf_sum_vat('qty_${subStat.index}', 'price_${subStat.index}', 'amt_${subStat.index}', 'vat_${subStat.index}', 'vatyn_${subStat.index}', 'amtSum_${subStat.index}', 'priceVat_${subStat.index}');
                  gf_totsum('qty','amt','vat','5','qty_t','amt_t','vat_t','tot_t');|">
          </td>
          <td>
            <input th:id="|price_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].price'}"
                   th:value="${sub.price}" type="text" size="5" class="form-control input_number"
                   th:onchange="|gf_sum_vat('qty_${subStat.index}', 'price_${subStat.index}', 'amt_${subStat.index}', 'vat_${subStat.index}', 'vatyn_${subStat.index}', 'amtSum_${subStat.index}', 'priceVat_${subStat.index}');
                  gf_totsum('qty','amt','vat','5','qty_t','amt_t','vat_t','tot_t');|">
          </td>
          <td>
            <input th:id="|amt_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].amt'}"
                   th:value="${sub.amt}" type="text" size="5" class="form-control input_number" readonly>
          </td>
          <td>
            <input th:id="|vat_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].vat'}"
                   th:value="${sub.vat}" type="text" size="5" class="form-control input_number" readonly>
          </td>
          <td>
            <input th:id="|amtSum_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].amtSum'}"
                   type="text" size="5" class="form-control input_number" readonly>
          </td>
          <td>
            <input th:id="|note_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].note'}"
                   th:value="${sub.note}" type="text" size="5" class="form-control">
          </td>
          <td>
            <input th:id="|priceVat_${subStat.index}|" th:name="${'tb412_1Forms[' + subStat.index + '].priceVat'}"
                   type="text" size="8" class="form-control input_number" readonly>
          </td>
        </tr>
        <tr style="height: 30px;">
          <td colspan="4" class="CaptionTD">
            합계
          </td>
          <td>
            <input type="text" name="qty_t" id="qty_t" th:value="${qtyT}" size="5" class="form-control input_number " readonly>
          </td>
          <td></td>
          <td>
            <input type="text" name="amt_t" id="amt_t" th:value="${amtT}" size="8" class="form-control input_number " readonly>
          </td>
          <td>
            <input type="text" name="vat_t" id="vat_t" th:value="${vatT}" size="8" class="form-control input_number " readonly>
          </td>
          <td></td>
          <td>
            <input type="text" name="tot_t" id="tot_t" th:value="${totT}" size="20" class="form-control input_number " readonly>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <input type="hidden" id="seq" name="seq" size="0" class="form-control ">
  <input type="hidden" id="fstId" name="fstId" th:value="${fstId}" size="0" class="form-control ">
  <input type="hidden" id="scdId" name="scdId" th:value="${scdId}" size="0" class="form-control ">
  <input type="hidden" id="thdId" name="thdId" th:value="${thdId}" size="0" class="form-control ">
</form>
<script th:src="@{|${global.jsDir}/scripts_sub.js|}"></script>
</body>
<script th:inline="javascript">
  $(document).ready(function () {
    $("#datatable_2").width("1300");
  });
</script>
</html>