<html th:replace="~{layout/layoutMain:: layout(~{::form})}"
      xmlns:th="http://www.thymeleaf.org">
<form name="fm_home" method="post" >
    <main >
        <script th:inline="javascript">
            function lf_confirm(as_action, as_val1, as_val2, as_val3) {// FORM을 서버미트 하기전에 수행할 일
                switch (as_action) {
                    case "query" :
                        var form = $('form[name="fm_home"]');
                        form.action = "/050101"
                        $('#size').val($('#num_per_page').val());
                        $('#page').val(1);
                        form.attr("method", "get");
                        form.submit();
                        break;

                    case "insert" : //저장
                    case "update" : //수정
                        if (!gf_checkSubmit("생산공정코드",fm_input.vproductcd,1,0,0,0,0,0)) { break; }
                        if (!gf_checkSubmit("생산공정정렬순서",fm_input.vproductal,1,0,0,0,0,0)) { break; }
                        if (!gf_checkSubmit("생산공정명",fm_input.vproductnm,1,0,0,0,0,0)) { break; }
                        if(fm_input.vproductcd.value.length > 5){
                            alert("생산공정코드는 5자리 이하로 입력하세요");
                            break;
                        }
                        if(fm_input.vproductal.value.length > 10){
                            alert("생산공정정렬순서는 10자리 이하로 입력하세요");
                            break;
                        }
                        if(fm_input.vproductnm.value.length > 50){
                            alert("생산공정명은 50자리 이하로 입력하세요");
                            break;
                        }
                        fm_input.action = "/050101/" + as_action
                        fm_input.submit();
                        break;

                    case "excel" :
                        fm_home.action = "/050101/excel"
                        fm_home.method = "get"
                        fm_home.submit();
                        break;

                }
            }
        </script>
        <div class="container-fluid p-2">
            <div class="titleBar" id="titleBar">
                <div class="row">
                    <div class="col titleBar_text"><i class="bi bi-square-half sb-nav-link-icon"></i>&nbsp;[[${menuNm.thdNm}]]&nbsp;([[${menuId.fstId}]][[${menuId.scdId}]][[${menuId.thdId}]])</div>
                    <div class="col titleBar_path">[[${menuNm.fstNm}]] > [[${menuNm.scdNm}]] > [[${menuNm.thdNm}]]</div>
                </div>
            </div>
            <div class="searchBar" id="searchBar">
                <div class="row">
                    <div class="col-12 fixed-right p-2 px-4">
                        <table>
                            <tr>
                                <td><!--조회 등록 엑셀-->
                                    <button name="query" id="query" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">조회</button>&nbsp;
                                    <button name="insert" id="insert" type="button" class="btn btn-gfk btn-sm" data-toggle="modal" data-target="#inputpopup" onclick="gf_modal('050101/input','','','','insert', '');">등록</button>&nbsp;
                                    <button name="excel" id="excel" type="button" class="btn btn-gfk btn-sm" onclick="lf_confirm(this.name,'','','')">엑셀</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-nowrap" id="tableWrapper">
                <table class="table table-striped tablesorter-blue" id="datatable_1" >
                    <thead>
                    <tr class="tableList_h_tr">
                        <th th:each="title : ${titles}" th:text="${title}">타이틀</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="list_tr_1" th:each="dto, dtoStat : ${dtos}"><!-- td 렌더링 -->
                        <td th:text="${pageMaker.pageable.pageSize * pageMaker.pageable.pageNumber  + dtoStat.count}"></td>
                        <td>
                            <button name="update" id="update" type="button" class="btn btn-gfk btn-ssm" data-toggle="modal" data-target="#inputpopup" th:onclick="gf_modal('050101/input?seq=' + [[${dto.seq}]],'','','','update', '');">수정</button>&nbsp;
                            <button name="delete" id="delete" type="button" class="btn btn-gfk btn-ssm" th:data-id="${dto.seq}">삭제</button>&nbsp;
                        </td>
                        <td th:text="${dto.productCd}"></td>
                        <td th:text="${#numbers.formatInteger(dto.productAl,0, 'COMMA')}"></td>
                        <td th:text="${dto.productNm}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 페이징 부분 -->
            <div th:replace="paging.html :: paging">
        </div>

        </div>
    </main>
    <script th:src="@{|/js/scripts_sub.js|}"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            gf_menu([[${menuId.fstId}]],[[${menuId.scdId}]],'','systemman');
            $("#datatable_1").width([[${global.mainWidth}]]);

            // 삭제
            $('button[name="delete"]').click(function (e) {
                e.preventDefault();
                if(confirm("자료를 삭제하시겠습니까?")){
                    var url = window.location.href + "";
                    $.ajax({
                        url: url.split('?')[0] + "/delete/" + $(this).data('id'),
                        type : 'post',
                        success : function (){
                            alert("자료가 삭제되었습니다.");
                            location.reload();
                        }
                    })
                }
            });
        });
    </script>

</form>
